/* .homepage-input {
} */


.createpost-container {
    /* border : 5px solid red; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
}

.createpost-text-btn {
    display: flex;
    flex-direction: column;
    /* border : 1px solid orange; */
    padding: 2em;
}
/* .createpost-textarea {
    border : 1px solid blue;
} */

button {
    padding: 0.7em;
    border: 1px solid whitesmoke;
    border-radius: 0.5em;
}