.notify-popup {
  display: flex;
  position: fixed;
  top: 50px;
  right: 50px;
  background: lightgreen;
  width: 40%;
  margin-inline: auto;
  border-radius: 10px;
  color: black;
  padding: 1em;
}
  