.wrapper-container {
    display: flex;
    justify-content: space-evenly;
}

.wrappper-main-children {
    width: 50%;
}

.page-layout {
    display: flex;
    flex-direction: column;
}
