.add__modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add__modal{
    display: flex;
    padding: 1rem 2rem;
    gap: 10px;
}

.modal__overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #0000004d;
    z-index: -1;
}

.modal-cross-container {
    position: relative;
}

.modal-cross {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    color: black;
    font-size: 16px;
    border: 1px solid gray;
    border-radius: 50%;
    padding: 0.2em;
}
