.navbar-main-container {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.navbar-links {
    text-decoration: none;
    padding: 0.5em;
    font-size: 1.3rem;
    display: flex;
    color: black;
}

.navlink-text {
    margin-inline: 0.6em;
}