.navbar-main-container {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    width: 100%;
}

.navbar-links {
    text-decoration: none;
    padding: 0.7em;
    font-size: 1.3rem;
    display: flex;
}