.navbar-main-container {
    display: flex;
    flex-direction: column;
    /* border: 1px solid yellow; */
}

.navbar-links {
    text-decoration: none;
    padding: 0.7em;
    font-size: 1.3rem;
    display: flex;
    color: whitesmoke;
}

.navlink-text {
    margin-inline: 0.6em;
}