.user-container1 {
    display: flex;
    flex-direction: column;
    /* background-color: rgb(16, 43, 63); */
    background-color: transparent;
}

.user-mapping {
    padding: 1em;
    gap: 50px;
    margin-bottom: 1em;
    border-top: 1px dotted pink;
    border-radius: 1em;
    border-bottom: 1px dotted pink;
}

.followings-pic {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 50%;
}

.user-bio1 {
    padding-block: 0.4em;
}