.show-pswd {
    cursor: pointer;
    margin-block: 1em;
}

.signup-heading {
    padding: 0.3em;
    margin: 0.2em;
    font-family: cursive;
    font-size: 30px;
    color: rgb(27, 27, 27);
}

.form-input {
    padding: 0.5em;
    margin: 0.6em;
    border-radius: 5px;
    border: 0.2px solid gray;
    background-color: red;
}

.login-link {
    text-decoration: none;
}

.submit-btn {
    background-color: darkturquoise;
    color: aliceblue;
    font-size: 17px;
    padding-block: 0.3em;
    padding-inline: 1em;
    margin: 0.8em;
    border: none;
}