* {
margin: 0;
padding: 0;

}
.main-register-container {
    display: flex;
    height: 90vh;
    box-sizing: border-box;
}

.background-carousel {
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0; 
    bottom: 0;
    height: 100vh;
    z-index: 1;
}

.form-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2; 
}
.register-container {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgb(169, 177, 184);
    opacity: 0.8;
    border-radius: 20px;
    width: 30%;
    display: flex;
    flex-direction: column;
    height: auto;
    margin-inline: auto;
    align-items: center;
    justify-content: center;
    margin-block: 2em;
    padding: 3em;
}

.show-pswd {
    cursor: pointer;
    margin-block: 1em;
}

.side-image {
   width: 100vw;
   height: 100vh;
}

.signup-heading {
    padding: 0.3em;
    margin: 0.2em;
    font-family: cursive;
    font-size: 30px;
    color: rgb(27, 27, 27);
}

input {
    padding: 0.5em;
    margin: 0.6em;
    border-radius: 5px;
    border: 0.2px solid gray;
}

.login-link {
    text-decoration: none;
}

.submit-btn {
    /* border: 5px solid lightblue; */
    background-color: darkturquoise;
    color: aliceblue;
    font-size: 17px;
    padding-block: 0.3em;
    padding-inline: 1em;
    margin: 0.8em;
    border: none;
}