.bg-color {
    background-color: black;
    color: whitesmoke;
    border: 0.1px solid gray;
    background-color: black;
    /* color: rgb(171, 230, 11);
    color: rosybrown;
    color: whitesmoke; */
}
.post-form-container {
    display: flex; 
}
.post-input {
    margin-block: 0.8em;
    padding: 0.5em;
    border-radius: 0.4em;
}
.post-form-btn {
    margin-inline: auto;
}
.post-form-text-btn {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 1em;
}
.post-textarea {
    height: 10vh;
}
 
button, .post-form-btn {
    padding: 0.7em;
    border: 1px solid whitesmke;
    border-radius: 0.5em;
    border: none;

}