.bg-color {
    background-color: white;
}
.post-form-container {
    display: flex; 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
}

.post-textarea {
    border: none;
}

.post-textarea:hover {
    border: 1px dotted black;
}
.post-input {
    margin-block: 0.8em;
    padding: 0.8em;
    border-radius: 0.4em;
    border: none;
}
.post-input:hover {
    border: 1px dotted gray;
}
.post-form-btn {
    /* margin-inline: auto; */
}
.post-form-text-btn {
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 2em;
}

 
.post-form-btn {
    padding: 0.7em;
    border: 1px solid whitesmke;
    border-radius: 0.5em;
    border: none;

}