.post-form-container {
    border: 1px solid black;
    display: flex;
    background-color: white;
}

.post-form-text-btn {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 2em;
}

button {
    padding: 0.7em;
    border: 1px solid whitesmoke;
    border-radius: 0.5em;
}