.main-login-container {
    display: flex;
    height: 90vh;
    box-sizing: border-box;
    color: black;
}

.login-container {
    display: flex;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-color: royalblue;
}
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    min-width: 400px;
    margin-inline: auto;
    padding-inline: 0.7em;
    padding-block: 2em;
    border-radius: 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* background-color: rgb(158, 157, 157);\
     */
    opacity: 0.8;

}

.login-header {
    font-family: cursive, sans-serif;
}

.show-icon,
button,
input {
    cursor: pointer;
}

.submit-btn {
    background-color: darkturquoise;
    color: aliceblue;
    font-size: 17px;
    padding-block: 0.3em;
    padding-inline: 1em;
    margin: 0.8em;
    border: none;
}

.navigate-signup {
    text-decoration: none;
}