.login-container {
    width: 100%;
    display: flex;
    height: calc(100vh - 56px);
    align-items: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    max-width: 400px;
    min-width: 400px;
    width: 100%;
    margin-inline: auto;
    padding: 25px;
    border: 1px solid;
    border-radius: 10px 20px;
    background-color: white;
}

.show-icon,
button,
input {
    cursor: pointer;
}

.show-pass-container {
    position: absolute;
    right: 20px;
    top: 20px;
}