* {
  box-sizing: border-box;
  margin: 0;
}
body, html {
  overflow: auto;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: var(--cl-navy-blue);
  padding-top: 1em;
  color: whitesmoke;
  scroll-behavior: smooth;
}

.logout-btn-container {
  display: flex;
  justify-content: flex-end;
}

.logout-btn {
  width: 6vw;
  margin-inline: 1em;
  background-color: chocolate;
}

button {
  background-color: rgb(255 61 100);
}