* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body, html {
  overflow: auto;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  /* background-color: black; */
  /* color: whitesmoke; */
  scroll-behavior: smooth;
}

button {
  border: 1px solid rgb(97, 181, 233);
    color: royalblue;
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: white;
}
button:hover {
  background-color: rgb(97, 181, 233);
  color: white;
}
