.children-posts {
    border: 2px solid gray;
}

.children-post-image {
    width: 100%;
}

.time {
    color: gray;
    font-size: small;
}

.user-time {
    text-align: left;
}

.liked-text {
    font-style: italic;
    text-align: left;
}
.filter-container {
    border: 2px solid orange;
    display: flex;
    justify-content: space-around;
}

.filter-btns {
    margin-block: 1em;
    padding: 1em;
    display: flex;
    justify-content: space-between;

}

