.homepage {
    padding: 1em;
    /* border: 2px solid whitesmoke; */
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}
.children-posts {
    border: 2px solid pink;
}

.children-post-image {
    width: 25vw;
}

.time {
    color: gray;
    font-size: small;
}

.user-time {
    text-align: left;
}

.post-like-bookmark {
    margin-block: 0.5em;
    margin-inline: auto;
    padding: 0.5em;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    width: 75%;
}

.liked-text {
    font-style: italic;
    text-align: left;
}
.filter-container {
    border: 2px solid orange;
    display: flex;
    justify-content: space-around;
}

.filter-btns {
    margin: 1em;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    background-color: rgb(16, 43, 63);

}

.filter-text, .homepage-filter  {
    color: whitesmoke;
    background-color: transparent;
}
